@page "{sid}"
@model EDP_Project.Pages.Staff.Survey.EditModel
@{
    ViewData["Title"] = "Edit Survey - Admin";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center text-dark mt-5">Edit Survey</h1>

            <div class="card p-3">
                @{
                    if (Model.svy != null)
                    {
                        <h6>@Model.svy.SurveyUUID</h6>
                        <h6>@Model.svy.Category</h6>
                        <h6>@Model.svy.Title</h6>
                        <h6>@Model.svy.Description</h6>
                        // Test Data
                    }
                }

            </div>

        </div>
    </div>
</div>

