<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->



	<targets>
	

	<target name="db" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" xsi:type="Database">
		<connectionString>server=localhost;Database=it2166;user id=root;password=password</connectionString>
		


		<!--
  Script for creating the dbo.Log table.
      
  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[Log] (
	  [Id] [int] IDENTITY(1,1) NOT NULL,
	  [MachineName] [nvarchar](50) NOT NULL,
	  [Logged] [datetime] NOT NULL,
	  [Level] [nvarchar](50) NOT NULL,
	  [Message] [nvarchar](max) NOT NULL,
	  [Logger] [nvarchar](250) NULL,
	  [Callsite] [nvarchar](max) NULL,
	  [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->
		<dbProvider>MySql.Data.MySqlClient.MySqlConnection, MySql.Data</dbProvider>
		<commandText>
			insert into Log (
			MachineName, Logged, Level, Message,
			Logger, Callsite, Exception
			) values (
			@MachineName, @Logged, @Level, @Message,
			@Logger, @Callsite, @Exception
			);
		</commandText>

		<parameter name="@MachineName" layout="${machinename}" />
		<parameter name="@Logged" layout="${date}" />
		<parameter name="@Level" layout="${level}" />
		<parameter name="@Message" layout="${message}" />
		<parameter name="@Logger" layout="${logger}" />
		<parameter name="@Callsite" layout="${callsite}" />
		<parameter name="@Exception" layout="${exception:tostring}" />
	</target>
	
	
	
	
	</targets>
	

  <rules>
    <!-- add your logging rules here -->
	  <logger name="MyAppLoggerRules" minlevel="Debug" writeTo="db" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
