@page "{id}"
@model EDP_Project.Pages.Staff.Health.EditFoodModel
@{
    ViewData["Title"] = "Edit Food";
}

<form method="post">
    <div class="card">
        <h1 style="padding:2%;">Edit food record</h1>
        @if (!String.IsNullOrEmpty(Model.ErrorMsg))
        {
            <p class="alert alert-danger">@Model.ErrorMsg</p>
        }
        <br />
        <input type="number" asp-for="FoodModel.FoodId" hidden readonly required/>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Food Name</label>
            <input asp-for="FoodModel.FoodName" required />
            <span asp-validation-for="FoodModel.FoodName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Category</label>
            <select asp-for="FoodModel.Category" required>
                <option value="Light Meal">Light Meal</option>
                <option value="Heavy Meal">Heavy Meal</option>
                <option value="Snack">Snack</option>
                <option value="Drink">Drink</option>
            </select>
            <span asp-validation-for="FoodModel.Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Calories</label>
            <input asp-for="FoodModel.Calories" required />
            <span asp-validation-for="FoodModel.Calories" class="text-danger"></span>
        </div>
    </div>
    <br style="margin-bottom:5%;" />

    <a asp-page="FoodList" class="btn btn-secondary">Discard</a>
    <input class="btn btn-success float-right" type="submit" value="Update changes" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
