@page
@model EDP_Project.Pages.FoodListAdminModel
@{
    ViewData["Title"] = "Food List";
}

<h1>Health Tracking - Food Records</h1>
<br />
<a asp-page="" class="btn btn-primary" style="margin-bottom:2%;"><i class="fas fa-plus-circle"></i> Add new food</a>
<br/>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#HMTab">Heavy Meals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#LMTab">Light Meals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#DTab">Drinks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#STab">Snacks</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container-fluid active" id="HMTab">

    </div>

    <div class="tab-pane container-fluid fade" id="LMTab">

    </div>
</div>
