@page
@model EDP_Project.Pages.Auth.VerificationFailedModel
@{
}
<div id="content" class="container py-5 container-limit--md">

    <div class="card">
        <div class="p-5 container container-limit--sm">
            <div id="forgottenPassword">
                <h1>Link Expired</h1>
                <p>The link has either expired or is invalid. If you wish to generate new link, please retry.</p>
                <a class="btn btn-outline-primary btn-lg" href="javascript:history.go(-1)">Go Back</a>
            </div>
        </div>
    </div>

</div>  