@page
@model EDP_Project.Pages.Blog.UserViewBlogModel
@{
    ViewData["Title"] =" Blog Posts";
}
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>

<style>
    #selectFilter {
        width: 200px;
        display: inline-block;
    }
</style>
<h1 class="text-center">Blog Posts</h1>



<div class="container">
    <div class="col-4">
        <div class="toolbar">
            <select id="selectFilter" class="form-control" name="filterAlgorithm" onchange="getFilter(this)">
                <option value="All" selected>All</option>
            </select> 
        </div>
    </div>
    <table id="table"
           data-search="true"
           data-pagination="true"
           data-page-size="6"
           data-show-custom-view="true"
           data-show-fullscreen="true"
           data-custom-view="customViewFormatter">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">Id</th>
                <th data-field="title" data-sortable="true">Title</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="content" data-sortable="true">Content</th>
                <th data-field="created" data-formatter="dateFormat" data-sortable="true">Created Date</th>
                <th data-field="action" data-formatter="actionFormatter">Action</th>

            </tr>
        </thead>
    </table>

    <template id="profileTemplate">
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            <h3 class="mb-0 text-truncated">%TITLE%</h3>
                            <p class="text-muted">%CREATED% <br />%CATEGORY%</p>
                            <p>
                                %HEADER%
                            </p>
                        </div>

                    </div>
                    <div class="m-2">
                        <a href="/Blog/BlogPostDetail/%ID%" class="btn btn-block btn-outline-success" role="button" aria-pressed="true">Read More</a>

                    </div>
                </div>
            </div>
        </div>
    </template>

</div>
    @{
        var bpost = @Model.BlogPosts;

    }
    <script>
    var select = document.getElementById('selectFilter');
    var dataBlog = @Html.Raw(Json.Serialize(bpost));
    var values = [];
    for (var i = 0; i < dataBlog.length; i++) {
        var obj = dataBlog[i];

        var opt = document.createElement('option');
        opt.value = obj.category;
        opt.innerHTML = obj.category;
        if (values.includes(obj.category) == false) {
            select.appendChild(opt);
            values.push(obj.category)
        }
       
        

    }
    var $table = $('#table')
    $(function () {
        var data = dataBlog
        $table.bootstrapTable({ data: data })
    })

    function customViewFormatter(data) {
        var template = $('#profileTemplate').html()
        var view = ''
        $.each(data, function (i, row) {
            view += template.replace('%ID%', row.id)
                .replace('%TITLE%', row.title)
                .replace('%CATEGORY%', row.category)
                .replace('%CONTENT%', row.content)
                .replace('%HEADER%', row.header)
                .replace('%CREATED%', moment(row.created).format('DD/MM/YYYY HH:mm:ss'))

        })

        return `<div class="row mx-0">${view}</div>`
        }
        function getFilter(selectObject) {
            var value = selectObject.value;
            console.log(values);
            if (value == "All") {
                $table.bootstrapTable('filterBy', {
                    category: values
                })
            }
            else {

            $table.bootstrapTable('filterBy', {
                category: value
            })
            }
        }

    </script>
