.bright-img {
    filter: brightness(1.1) grayscale(0.35)
}

.health-selectionFooter {
    height: 4.75em;
}

#health-addFood-table td {
    border-bottom: 1px solid #CED4DA;
}

#health-addFood-table .health-addFood-inputGroup > *, #health-addRoutine-table .health-addRoutine-inputGroup > * {
    margin-bottom: 1%;
}

input.bottom-line-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}

.health-todayRecord-li li {
    display: inline;
    float: left;
}