@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lumia Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Lumia - v4.7.0
    * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>



    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">

            @{
                if (@HttpContext.Session.GetString("user") != null)
                {
                    <h1>Welcome<span> @HttpContext.Session.GetString("user")</span></h1>

                }
                else
                {
                    <h1>Welcome</h1>

                }
            }

            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= What We Do Section ======= -->
        <section id="what-we-do" class="what-we-do">
            <div class="container">

                <div class="section-title">
                    <h2>What We Do</h2>
                    <p>We provide online healthcare consultation services to make medical services more accessible to those with busy lives and people who are immobile.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-book-medical"></i></div>
                            <h4><a href="/Health/Menu">Health Info</a></h4>
                            <p>Click here to check your Food Journal, Ongoing Medications, Exercise Routine and Calories Intake. </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-newspaper"></i></i></div>
                            <h4><a href="/Blog/UserViewBlog">Blogs</a></h4>
                            <p>Checkout the latest blog posted by our staffs, do drop a comment! </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-circle-question"></i></div>
                            <h4><a href="/frequently-asked-questions">Got a Question?</a></h4>
                            <p>You can either look for our Frequently Asked Questions page or send us an enquiry via the 'Contact Us' page!</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-square-poll-horizontal"></i></div>
                            <h4><a href="/Survey/List">Survey</a></h4>
                            <p>Take a minute of your time to share your thoughts with us, so we can improve our contents and services. </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-newspaper"></i></i></div>
                            <h4><a href="/Blog/UserViewBlog">Blogs</a></h4>
                            <p>Checkout the latest blog posted by our staffs, do drop a comment! </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-briefcase-medical"></i></div>
                            <h4><a href="/Booking/MedicalSpecialist">Medical Specialist Booking</a></h4>
                            <p>Book an appointment for medical consultations with our soecialist!</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End What We Do Section -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/Elderly-Care-Tips-for-Caregivers.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h3>About Us</h3>
                        <p>
                            Our website focuses on creating a web - based health & nutritional discussion forum for elderly / caregivers that allows easy access to essential senior healthcare info so as to help them understand & manage the myriad of conditions that are associated with the aged.


                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i>Provide online healthcare consultation services to make medical services more accessible to those with busy lives .</li>
                            <li><i class="bx bx-check-double"></i>Provides the necessary social interaction & community care; facilitating the lives of the elderly both mentally & physically.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Testimonies Section ======= -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">

                <div class="row">

                    <div class="col-lg-3 col-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Happy Clients</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Hours Of Support</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Hard Workers</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->


</body>

</html>