@page
@model EDP_Project.Pages.Auth.LoginModel
@{
}

<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfLmX8dAAAAAGbTIkC40y7eHl9GptSMiJQDI8L8"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="~/css/login.css" rel="stylesheet" />

</head>



<div class="container" style="padding-top: 60px;">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex" style=" background: scroll center url('https://i.ibb.co/42KzZYp/Untitled.jpg'); ">
                    <!-- Background image for card set in CSS! -->
                    <!-- <a class="prev" onclick="plusSlides(-1)" style="margin-top: 200px; color: white;">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)" style="margin-top: 200px; margin-left: 335px; color: white; size: 200%;">&#10095;</a> -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Welcome to MyFitElderly!

                    </h5>

                    <form class="form-signin" method="post">
                        <div class="text-danger"></div>
                        <div class="form-label-group">

                            <input type="username" asp-for="userID" class="form-control" required>
                            <label for="inputUserame" class="control-label">Email</label>
                            <span class="text-danger"></span>

                        </div>

                        <div class="form-label-group">
                            <input type="password" class="form-control" asp-for="userPass" required>
                            <label for="inputEmail" class="control-label">Password</label>
                            <span class="text-danger" style="margin-left:120px;">@Model.error_msg</span>

                            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />




                            <a class="d-block text-center mt-2 small" href="/Auth/BeginPasswordReset">Forgot password?</a>

                        </div>


                        @*<div class="form-group">
                                <input asp-for="UserName" class="form-control" />
                                <label asp-for="UserName" class="control-label"></label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                            </div>*@




                        <hr>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
                        <a class="d-block text-center mt-2 small" href="/Registration">Register</a>

                        <hr class="my-4">



                        @*<div>
                                <a asp-action="Index" class="d-block text-center mt-2 small">Back to List</a>
                            </div>*@



                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script>


    grecaptcha.ready(function () {
        grecaptcha.execute('6LfLmX8dAAAAAGbTIkC40y7eHl9GptSMiJQDI8L8', { action: 'Login' }).then(function (token) {
            document.getElementById("g-recaptcha-response").value = token;
        });
    });
</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
