@page
@model EDP_Project.Pages.Staff.Booking.CreateSpecialistDepartmentModel
@{
    ViewData["Title"] = "Create Department";
}

<form method="post">
    <h1 style="padding:2%;">Create Medical Department</h1>
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Field of Specialty</label>
        <input asp-for="MedicalDepartmentModel.Department" required />
        <span asp-validation-for="MedicalDepartmentModel.Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Specialty Description</label>
        <input asp-for="MedicalDepartmentModel.Description" required />
        <span asp-validation-for="MedicalDepartmentModel.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Consultation Price</label>
        <input asp-for="MedicalDepartmentModel.Price" required />
        <span asp-validation-for="MedicalDepartmentModel.Price" class="text-danger"></span>
    </div>

    <br style="margin-bottom:5%;" />

    <a asp-page="ViewSpecialist" class="btn btn-secondary">Discard</a>
    <input class="btn btn-success float-right" type="submit" value="Add to list" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
