@page
@model EDP_Project.Pages.Staff.Blog.DashboardModel
@{
    ViewData["Title"] = "Blog Dashboard";
}
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.19.1/locale/bootstrap-table-en-US.min.js" integrity="sha512-6yuh1Ismn8oLv1WBwNbTKKh+40FcHRFaAwS+t++e/u7gHsuM0xNHU00xkowBHtZ7Mmw4T1ur4fr2T6PGv4Jpsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>


<h1 class="text-center">Blog Dashboard</h1>
<div id="toolbar">
    <a asp-page="Create" id="add" role="button" class="btn btn-primary" >
        <i class="fa fa-plus"></i> Add Blog
    </a>
</div>
<table id="table" data-search="true" data-pagination="true" data-toolbar="#toolbar"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-show-refresh="true"
       data-show-export="true"
       data-click-to-select="true" 
       data-page-size="6" 
       data-show-custom-view-button="true">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">Id</th>
            <th data-field="title" data-sortable="true">Title</th>
            <th data-field="category" data-sortable="true">Category</th>
            <th data-field="header" data-sortable="true">Header</th>
            <th data-field="content" data-width="300" data-width-unit="px" data-sortable="true" >Content</th>
            <th data-field="created" data-formatter="dateFormat" data-sortable="true">Created Date</th>
            <th data-field="action" data-formatter="actionFormatter">Action</th>

        </tr>
    </thead>
</table>

@{
    var bpost = @Model.BlogPosts;

}
<script>
    var dataBlog = @Html.Raw(Json.Serialize(bpost));
    var $table = $('#table')
    $(function () {
        var data = dataBlog
        $table.bootstrapTable({ data: data })
    })

    function actionFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {


            if (key == 'id') {
                html.push('<div style="text-align:center">')
               // html.push('<a class="edit" href="https://localhost:44320/Blog/BlogPostDetail/' + value + '" title="edit"><i class="fa fa-info-circle"></i></a>' + '&nbsp &nbsp')
                html.push('<a class="edit" href="https://localhost:44320/Staff/Blog/Edit/' + value + '" title="edit"><i class="fa fa-edit"></i></a>' + '&nbsp &nbsp')
                html.push('<a class="edit" href="https://localhost:44320/Staff/Blog/Delete/' + value + '" title="edit"><i class="fa fa-trash"></i></a>')

            }

        })
        return html.join("")
    }

</script>

<script>
    function dateFormat(value, row, index) {
        return moment(value).format('DD/MM/YYYY HH:mm:ss');
    }
</script>

